OfxCommon/simpleOFX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="STATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CODE" type="xs:integer"/>
				<xs:element name="SEVERITY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="INFO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OFX">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SIGNONMSGSRSV1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SONRS">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="STATUS"/>
										<xs:element name="DTSERVER" type="xs:string"/>
										<xs:element name="LANGUAGE">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="ENG"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BANKMSGSRSV1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="STMTTRNRS">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TRNUID" type="xs:int"/>
										<xs:element ref="STATUS"/>
										<xs:element name="STMTRS">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CURDEF">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="GBP"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BANKACCTFROM">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="BANKID" type="xs:string"/>
																<xs:element name="ACCTID" type="xs:string"/>
																<xs:element name="ACCTTYPE">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
                                      <xs:enumeration value="CHECKING"/>
                                      <xs:enumeration value="SAVINGS"/>
                                    </xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="BANKTRANLIST">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DTSTART" type="xs:string"/>
																<xs:element name="DTEND" type="xs:string"/>
																<xs:element name="STMTTRN" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="TRNTYPE">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="ATM"/>
																						<xs:enumeration value="CHECK"/>
																						<xs:enumeration value="CREDIT"/>
																						<xs:enumeration value="DEBIT"/>
																						<xs:enumeration value="DIRECTDEBIT"/>
																						<xs:enumeration value="REPEATPMT"/>
																						<!-- todo: fill out -->
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="DTPOSTED" type="xs:string"/>
																			<xs:element name="TRNAMT" type="xs:decimal"/>
																			<xs:element name="FITID" type="xs:string"/>
																			<xs:element name="NAME" type="xs:string"/>
																			<xs:element name="MEMO" type="xs:string"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LEDGERBAL">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="BALAMT" type="xs:decimal"/>
																<xs:element name="DTASOF" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
